.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 20px 200px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.clr{
    display: flex;
    /* margin-right: 50px; */
    list-style: none;
    gap: 50px;
    align-items: center;
}
.dark1{
    color: #474747;
}
ul >li > a {
    text-decoration: none;
    
}
.btn{
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 18px 36px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    border: none;
}

/* 2nd part */

.hi{
    font-weight: 600px;
    font-size: 45px;
    color: #474747;
    
}
.name{
    margin-top: 5px;
    font-weight: 700px;
    font-size: 85px;
    columns: #181818;
    width: 580px;
    
}
.para{
    color: #757575;
    font-weight: 400px;
    font-size: 18px;
}
.pic{
    width: 580px;
}
/* title and image same line */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 580px;
    padding: 0 35px 0 200px;
    
}

.back-pic{
    background-image: url("../img/developer.png"), url("../img/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}

/* main part */

.my-info{
    columns: #181818;
    font-weight: 700px;
    font-size: 35px;
}
.more-info{
    color: #757575;
    font-weight: 400px;
    font-size: 18px;
}

/* background part */
.seondery-bg{
    background-color: #FFF8F3;

}
.info{
    border-radius: 10px;
    padding: 132px 157px;
    text-align: center;
    margin-top: 89px;
}

/* main styles */
main{
    width: 1140px;
    margin: 0 auto;
}
/* info-items part */
/* .item-title{
    font-weight: 400;
    font-size: 20px;
} */
.item-description{
    font-weight: 700;
    font-size: 20;
}
.info-items{
    display: flex;
    justify-content: space-around;
}

/* second section part */

.what{
    /* margin-top: 130; */
    text-align: center;
}

.skills{
    display: flex;
    text-align: left;
    gap: 24px;
    
}
.skill{
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* resume part */
.resume-container{
    display: flex;
    gap: 24px;

}
.experience-sub-title{
    font-weight: 600px;
    font-size: 20px;
    color: #757575;
    margin-bottom: 24px;
    margin-top: 5px;
}
.experience-title{
    font-weight: 700px;
    font-size: 25px;
    color: #474747;
    margin-bottom: 5px;
}
.expdescription {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-column-title{
    color: #474747;
    font-weight: 700px;
    font-size: 30px;
}
hr{
    margin: 30px 5px;
}
.head{
    text-align: center;
}
.but{
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 18px 36px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    border: none;
}
.btn-center{
    text-align: center;
    margin-top: 50px;
}

/* footer section */
.space{
    display: flex;
    gap: 24px;
}
footer{
    display: flex;
    padding: 130px 230px;
    gap: 110px;
}
.footer-section{
    width: 50%;
}
footer input[type="text"] , textarea{
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #757575; 
    display: block;
    width: 461px; 
    border: none;
    padding: 18px 15px; 
    margin-bottom: 20px; 
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box; 
   
}